<#include 'api/path.api.html'/>

<ol class="breadcrumb">
	<@path page.parent/>
	<li class="active">${page.name}</li>
</ol>

<div class="row">
	<div class="col-lg-2">
		<#include 'left-menu.template.html'/>
	</div>
	<div class="col-lg-10">
		<#list page.laws as law>
			<div class="law <#if law.deprecated>deprecated</#if>">
				<h2>
					《${law.name}》
					<#if law.version gt 0>（${law.version}）</#if> 
					<#if law.category??><span class="badge">${law.category}</span></#if>
				</h2>
				<div class="small">
					<#if law.histories??>
						<#list law.histories as history>
							<div>${history}</div>
						</#list>
					</#if>
				</div>
			</div>
		</#list>
	</div>
</div>