<#include 'api/path.api.html'/>

<#macro ul page>
	<ul>
	<#list page.children as node>
		<li>${node.name}
		<#if node.children??>
			<@ul node/>
		<#else>
			<ul>
				<#list node.laws as law>
					<li>《${law.name}》</li>
				</#list>
			</ul>
		</#if>
		</li>
	</#list>
	</ul>
</#macro>

<ol class="breadcrumb">
	<#if page.parent??>
		<@path page.parent/>
	</#if>
	<li class="active">${page.name}</li>
</ol>

<div class="row">
	<div class="col-lg-2">
		<#include 'left-menu.template.html'/>
	</div>
	<div class="col-lg-10">
		<@ul page/>
	</div>
</div>