<#include 'api/path.api.html'/>

<#macro ul page>
	<ol>
	<#list page.children as node>
		<li><a href="javascript:void(0)" class="list-collection node-entry" data-href="${data}/${node.filename}.html">${node.name}</a>
		<#if node.children??>
			<@ul node/>
		<#else>
			<ol>
				<#list node.laws as law>
					<li	
						<#if law.deprecated>class="deprecated"</#if>
					>《${law.name}》<#if law.version gt 0>[${law.version}]</#if></li>
				</#list>
			</ol>
		</#if>
		</li>
	</#list>
	</ol>
</#macro>

<ol class="breadcrumb">
	<#if page.parent??>
		<@path page.parent/>
	</#if>
	<li class="active">${page.name}</li>
</ol>

<div class="row">
	<div class="col-lg-2">
		<#include 'left-menu.template.html'/>
	</div>
	<div class="col-lg-10">
		<div>
			<div class="checkbox check-deprecated">
				<label>
					<input type="checkbox"> 包含失效的法律文件
				</label>
			</div>
		</div>
		<div class="entries">
			<@ul page/>
		</div>
	</div>
</div>