.menu{
	cursor:	pointer;
}

.deprecated{
	color:	gray;
	display: none;
}

.law{
	border:	1px dotted black;
	border-radius: 16px;
	padding-left:	8px;
	padding-right:	5px;
	padding-bottom:	3px;
}

.law{
	margin-bottom:	10px;
}