a,
a:hover{
	text-decoration: none;
}

.menu{
	cursor:	pointer;
}

.deprecated{
	color:	gray;
	display: none;
}

.law{
	border:	1px dotted black;
	border-radius: 16px;
	padding-left:	8px;
	padding-right:	5px;
	padding-bottom:	3px;
	margin-bottom:	10px;
}

.node-entry{
	font-weight:	bold;
}

.entries>ol>li{
	list-style-type: cjk-ideographic;
}
.entries>ol>li>ol>li{
	list-style-type: decimal;
}
.entries>ol>li>ol>li>ol>li{
	list-style-type: lower-latin;
}
.entries>ol>li>ol>li>ol>li>ol>li{
	list-style-type: disc;
}
.entries>ol>li>ol>li>ol>li>ol>li>ol>li{
	list-style-type: circle;
}